@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #222222;
}

h3 {
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   font-size: 2.5rem;
   font-weight: 700;   
}

.container {
    min-width: 30%;
    min-height: 20%;
    background-color: #1B244A;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    gap: 6.3rem;
    padding: 4.4rem 5rem 7rem 5rem;
    border: 15px solid #EEEEEE;
    border-radius: 10px;
    position: relative;
}

.btn {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0.7rem;
    border: 2px solid #9AABD8;
    border-radius: 5px;
}

.btn--reset {
    background-color: #F94F6D; 
    color: #080001;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-weight: 700;   
    font-size: 20px;
    position: absolute;
    bottom: 20px;
}

.score {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 5.6rem;
    background-color: #080001;
    color: #F94F6D;
    width: 13.8rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 30px #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
}